# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./backend/node_modules/
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#// const updateUser = (data) => {
#//     try {
    
#//         return res
#//           .status(200)
#//           .json(user);
#//       } catch (error) {
#//         return res.status(500).json({ error: 'Error updating user.' });
#//       }
#// }


#// app.put('/users/:userId', async (req, res) => {
#//     const data = req.body;
#//     const {name, email, password} = data;
#//     const users = await DB.query(`SELECT * FROM users`);
#//     const userArray = users.rows;
#//     const foundUser = userArray.find(user => user.id === req.params.userId)
#//     if(foundUser){
#//         console.log('this user found was', foundUser);
#//         await updateUser();
#//     }
#//     if (!foundUser) {
#//       return res.status(404).json({ error: 'User not found.' });
#//     }
#//     console.log('whor');
#// });
#
#
#FULL_PG_URL=postgres://vfvidvrv:CKUCCvf2P-nJsFy7AKV-MMpI-kIWpoSR@mouse.db.elephantsql.com/vfvidvrv
#
#
#